body {
    margin: 0;

}

header {

    background-color: #4794f9;
    color: white;
    text-align: center;
    font-size: 24px;
    padding-top: 25px;
    padding-bottom: 25px;
    letter-spacing: 0.6px;
    line-height: 30px;
}

article {
    max-width: 850px;
    margin: auto;
    padding: 70px;
}

.author-name {
    color: #6C6C6C;
    font-size: 12px;
    line-height: 18px;
}

.share-post {
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

}

.hero-image {
    margin: 50px 0;
}

.hero-image img {

    max-width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    margin: 0%;
    font-size: 52px;
    line-height: 58px;
    letter-spacing: 0.015em;
}

#Contant-section {
    max-width: 650px;
    margin: auto;
}

#title-selection {
    margin: bottom 50px;
    ;
}
iframe{
    margin:50px 0;
}